.header-title{
    color: maroon;
}

.footer{
   line-height: 20px; 
   padding: 10px;
   font-size: 15px ;
}

.h3{
    font-family: 'Times New Roman', Times, serif;
}
.media-heading{
    font-family: 'Times New Roman', Times, serif;
    padding: 1px;
}